body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
}

h2 {
     color: whitesmoke;
     text-shadow: 10px 5px 30px whitesmoke;
     letter-spacing: 4px;
}

hr {
    color: grey;
}

a {
    color: grey;
    text-shadow: 10px 5px 20px gainsboro;
    text-decoration: none;
}

header {
    padding: 4px;
    border-style: outset;
    border-width: 4px;
    border-color: red;

}