body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
}

h2 {
     color: whitesmoke;
}

hr {
    color: grey;
}

a {
    color: grey;
    text-shadow: 30px 10px 20px red;
}